# Análise de Recursos Humanos - People Analytics

Este projeto utiliza dados disponibilizados no [Kaggle](https://www.kaggle.com/datasets/2e87aca9cfb969c5d6e89dbba2aba6d7b5a3cb769e43608a247859512197917d) sobre "People Analytics aplicados a RH e CRM". O objetivo é analisar informações de funcionários, avaliações sobre o ambiente de trabalho e outros dados relevantes para identificar perfis de colaboradores propensos a deixar a empresa.

Será empregada a metodologia CRISP-DM, e um modelo preditivo será desenvolvido para identificar os grupos mais propensos ao desligamento, oferecendo insights e sugerindo soluções para os problemas identificados. O foco é reduzir a saída de colaboradores e aprimorar a retenção de talentos.

## Contexto do problema

A _RetailX_, com uma equipe de aproximadamente **4000 funcionários**, enfrenta uma alta **rotatividade anual de cerca de 15%**. Essa taxa de saída, seja por vontade própria ou demissão, é considerada prejudicial pela gestão, devido a:

- Impacto negativo nos prazos, afetando a reputação da empresa perante consumidores e parceiros;
- Necessidade de manter um departamento significativo para recrutamento;
- Requerimento de treinamento e período de adaptação para os novos funcionários.

## Demanda do negócio

- ~~Analisar os dados para identificar padrões de comportamento dos funcionários (obter personas);~~
- ~~Identificar as variáveis que mais influenciam na alta rotatividade dos funcionários;~~
- Calcular a probabilidade de um funcionário deixar a empresa e identificar as variáveis que mais contribuem para esse aumento;
- ~~Elaborar um relatório com as conclusões para que o gestor de RH possa tomar medidas para reduzir a rotatividade.~~

## Compreensão dos dados

Os dados disponíveis incluem quatro arquivos em formato _CSV_ e um arquivo _Excel_ com o dicionário de dados. Para o projeto de análise de recursos humanos (People Analytics), serão utilizados três arquivos que refletem os dados dos funcionários, suas percepções sobre o trabalho e seu impacto em suas vidas, além da avaliação de gestores. Esses dados foram extraídos do dataset publicado no [Kaggle](https://www.kaggle.com/datasets/2e87aca9cfb969c5d6e89dbba2aba6d7b5a3cb769e43608a247859512197917d) sob o título "People Analytics aplicados a RH e CRM".

## Dicionário de dados

| Variáveis | Descrição | Domínios |
|------------------------------|------------------------------|------------------------------|
| Idade                        | Idade do funcionário | |
| Rotatividade                 | Se o funcionário deixou a empresa no ano anterior ou não | |
| ViagensDeNegocio             | Com que frequência os funcionários viajaram a negócios no último ano | |
| Departamento                 | Departamento na empresa | |
| DistanciaDeCasa              | Distância de casa em quilômetros | |
| Educacao                     | Nível de Educação | 1 'Abaixo do Ensino Superior'<br>2 'Ensino Superior Incompleto'<br>3 'Bacharel'<br>4 'Mestre'<br>5 'Doutor' |
| CampoDeEducacao              | Campo de educação | |
| ContagemDeEmpregados         | Contagem de funcionários | |
| IDDoEmpregado                | Número/ID do funcionário | |
| SatisfacaoComAmbiente        | Nível de Satisfação com o Ambiente de Trabalho | 1 'Baixo'<br>2 'Médio'<br>3 'Alto'<br>4 'Muito Alto' |
| Genero                       | Gênero do funcionário | |
| EnvolvimentoNoTrabalho       | Nível de Envolvimento no Trabalho | 1 'Baixo'<br>2 'Médio'<br>3 'Alto'<br>4 'Muito Alto' |
|                   | Nível do cargo na empresa em uma escala de 1 a 5 | |
|                   | Nome da função na empresa | |
| SatisfacaoNoTrabalho         | Nível de Satisfação no Trabalho | 1 'Baixo'<br>2 'Médio'<br>3 'Alto'<br>4 'Muito Alto' |
| EstadoCivil                  | Estado civil do funcionário | |
| RendaMensal                  | Renda mensal em rúpias por mês | |
| NumeroDeEmpresas             | Número total de empresas pelas quais o funcionário passou | |
| MaiorDe18                    | Se o funcionário é maior de 18 anos ou não | |
| AumentoPercentualSalario     | Percentual de aumento salarial no último ano | |
| AvaliacaoDeDesempenho        | Avaliação de desempenho do último ano | 1 'Baixo'<br>2 'Bom'<br>3 'Excelente'<br>4 'Excepcional' |
| HorasPadrao                  | Horas padrão de trabalho para o funcionário | |
| NivelDeOpcaoDeCompraDeAcoes  | Nível de opção de ações do funcionário | |
| TotalDeAnosTrabalhados       | Número total de anos que o funcionário trabalhou até agora | |
| TreinamentosNoUltimoAno      | Número de vezes que treinamentos foram realizados para este funcionário no último ano | |
| EquilibrioTrabalhoVida       | Nível de equilíbrio entre trabalho e vida pessoal   | 1 'Ruim'<br>2 'Bom'<br>3 'Melhor'<br>4 'Ótimo' |
| AnosNaEmpresa                | Número total de anos que o funcionário passou na empresa | |
| AnosDesdeUltimaPromocao      | Número de anos desde a última promoção | |
| AnosComAtualGestor           | Número de anos sob o gerente atual | |

## Sumário

1. **Importação de bibliotecas**
2. **Carregamento das bases**
3. **Análise e união dos dataframes**
4. **Análise dos dados**
    - 4.1. Análise das variáveis (tipagem)
    - 4.2. Segmentação das variáveis categóricas e numéricas
5. **Análise das variáveis**
    - 5.1. Análise das variáveis categóricas
    - 5.2. Análise das variáveis numéricas


<br>

---

<br>

## 1. Importação de bibliotecas

In [211]:
# Importação de pacotes e definição de parâmetros globais

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import gc # Garbage Collector para gerenciamento de memória

from prettytable import PrettyTable

# Configurações para exibição de dados no Jupyter Notebook

# Configurar opção de exibir todas as linhas do Dataframe
pd.set_option('display.max_rows', None)

# Configurar para exibir o conteúdo completo das colunas
pd.set_option('display.max_colwidth', None)

# Configurar a surpressão de mensagens de aviso durante a execução
warnings.filterwarnings('ignore')

# Configurar estilo dos gráficos do seaborn
sns.set_style('whitegrid')

## 2. Carregamento das bases

In [189]:
# Efetuando a limpeza da memória antes do carregamento dos dados
print(f'\nQuantidade de objetos removidos da memória: {gc.collect()}')

Quantidade de objetos removidos da memória: 535

In [190]:
# Criando um dataframe a partir do arquivo tb_funcionarios.csv
df_funcionarios = pd.read_csv('dados/tb_funcionarios.csv', sep=',')
print('\nDATAFRAME: df_funcionarios')
df_funcionarios.head()

DATAFRAME: df_funcionarios

,Idade,Rotatividade,ViagensDeNegocio,Departamento,DistanciaDeCasa,Educacao,CampoDeEducacao,ContagemDeEmpregados,IDDoEmpregado,Genero,...,NumeroDeEmpresas,MaiorDe18,AumentoPercentualSalario,HorasPadrao,NivelDeOpcaoDeCompraDeAcoes,TotalDeAnosTrabalhados,TreinamentosNoUltimoAno,AnosNaEmpresa,AnosDesdeUltimaPromocao,AnosComAtualGestor
0,51,Nao,Viagens_Raras,Vendas,6,2,Ciências da Vida,1,1,Feminino,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Sim,Viagens_Frequentes,Pesquisa_e_Desenvolvimento,10,1,Ciências da Vida,1,2,Feminino,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,Nao,Viagens_Frequentes,Pesquisa_e_Desenvolvimento,17,4,Outro,1,3,Masculino,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,Nao,Nao_Viaja,Pesquisa_e_Desenvolvimento,2,5,Ciências da Vida,1,4,Masculino,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,Nao,Viagens_Raras,Pesquisa_e_Desenvolvimento,10,1,Médica,1,5,Masculino,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [191]:
# Criando um dataframe a partir do arquivo tb_pesquisa_funcionarios.csv
df_pesquisa_funcionarios=pd.read_csv('dados/tb_pesquisa_funcionarios.csv',sep=',')
print('\nDATAFRAME: df_pesquisa_funcionarios')
df_pesquisa_funcionarios.head()

DATAFRAME: df_pesquisa_funcionarios

,IDDoEmpregado,SatisfacaoComAmbiente,SatisfacaoNoTrabalho,EquilibrioTrabalhoVida
0,1,3.0,4.0,2.0
1,2,3.0,2.0,4.0
2,3,2.0,2.0,1.0
3,4,4.0,4.0,3.0
4,5,4.0,1.0,3.0

In [192]:
# Criando um dataframe a partir do arquivo tb_pesquisa_gestores.csv
df_pesquisa_gestores = pd.read_csv('dados/tb_pesquisa_gestores.csv', sep=',')
print('\nDATAFRAME: df_pesquisa_gestores')
df_pesquisa_gestores.head()

DATAFRAME: df_pesquisa_gestores

   IDDoEmpregado  EnvolvimentoNoTrabalho  AvaliacaoDeDesempenho
0              1                       3                      3
1              2                       2                      4
2              3                       3                      3
3              4                       2                      3
4              5                       3                      3

## 3. Análise e união dos dataframes

In [193]:
# Exibindo a quantidade de linhas e colunas dos dataframes

# Criação de um dicionário com os dataframes e seus respectivos nomes
dfs = {
    'df_funcionarios': df_funcionarios,
    'df_pesquisa_funcionarios': df_pesquisa_funcionarios,
    'df_pesquisa_gestores': df_pesquisa_gestores
}

print('\nVOLUMETRIA')
print(f'-'*45)

# Iteração sobre o dicionário para exibir o nome e as dimensões dos dataframes
for nome, dataframe in dfs.items():
    print(f'\n{nome}')
    print(f'-'*45)
    print(f'Quantidade de linhas (registros):  {dataframe.shape[0]}')
    print(f'Quantidade de colunas (variáveis): {dataframe.shape[1]}')

VOLUMETRIA
---------------------------------------------

df_funcionarios
---------------------------------------------
Quantidade de linhas (registros):  4410
Quantidade de colunas (variáveis): 24

df_pesquisa_funcionarios
---------------------------------------------
Quantidade de linhas (registros):  4410
Quantidade de colunas (variáveis): 4

df_pesquisa_gestores
---------------------------------------------
Quantidade de linhas (registros):  4410
Quantidade de colunas (variáveis): 3

In [194]:
# Unindo df_funcionarios com df_pesquisa_funcionarios
df_merged = pd.merge(df_funcionarios, df_pesquisa_funcionarios, on='IDDoEmpregado', how='left')

# Unindo o resultado com df_pesquisa_gestores
df = pd.merge(df_merged, df_pesquisa_gestores, on='IDDoEmpregado', how='left')

# Criação da coluna 'TARGET' com base na coluna 'Rotatividade'
df['TARGET'] = (df['Rotatividade'] == 'Sim').astype(int)

# Exibindo o dataframe final resultante da junção
df.head()

,Idade,Rotatividade,ViagensDeNegocio,Departamento,DistanciaDeCasa,Educacao,CampoDeEducacao,ContagemDeEmpregados,IDDoEmpregado,Genero,...,TreinamentosNoUltimoAno,AnosNaEmpresa,AnosDesdeUltimaPromocao,AnosComAtualGestor,SatisfacaoComAmbiente,SatisfacaoNoTrabalho,EquilibrioTrabalhoVida,EnvolvimentoNoTrabalho,AvaliacaoDeDesempenho,TARGET
0,51,Nao,Viagens_Raras,Vendas,6,2,Ciências da Vida,1,1,Feminino,...,6,1,0,0,3.0,4.0,2.0,3,3,0
1,31,Sim,Viagens_Frequentes,Pesquisa_e_Desenvolvimento,10,1,Ciências da Vida,1,2,Feminino,...,3,5,1,4,3.0,2.0,4.0,2,4,1
2,32,Nao,Viagens_Frequentes,Pesquisa_e_Desenvolvimento,17,4,Outro,1,3,Masculino,...,2,5,0,3,2.0,2.0,1.0,3,3,0
3,38,Nao,Nao_Viaja,Pesquisa_e_Desenvolvimento,2,5,Ciências da Vida,1,4,Masculino,...,5,8,7,5,4.0,4.0,3.0,2,3,0
4,32,Nao,Viagens_Raras,Pesquisa_e_Desenvolvimento,10,1,Médica,1,5,Masculino,...,2,6,0,4,4.0,1.0,3.0,3,3,0

In [195]:
# Exibindo a quantidade de linhas e colunas do dataframe

print(f'\nVOLUMETRIA')
print(f'\nQuantidade de linhas  (registros): {df.shape[0]}')
print(f'Quantidade de colunas (variáveis): {df.shape[1]}')

VOLUMETRIA

Quantidade de linhas  (registros): 4410
Quantidade de colunas (variáveis): 30

## 4. Análise dos dados

### 4.1. Análise das variáveis (tipagem)

In [196]:
# Listagem de todas as variáveis e a tipagem

lista_vars = pd.DataFrame({
    'Variável': df.columns,
    'Tipo': df.dtypes,
    'Cardinalidade': df.nunique()
})
lista_vars = lista_vars.sort_values(by='Tipo').reset_index(drop=True)
lista_vars

                       Variável     Tipo  Cardinalidade
0                        TARGET    int32              2
1        EnvolvimentoNoTrabalho    int64              4
2            AnosComAtualGestor    int64             18
3       AnosDesdeUltimaPromocao    int64             16
4                 AnosNaEmpresa    int64             37
5       TreinamentosNoUltimoAno    int64              7
6   NivelDeOpcaoDeCompraDeAcoes    int64              4
7                   HorasPadrao    int64              1
8      AumentoPercentualSalario    int64             15
9         AvaliacaoDeDesempenho    int64              2
10                        Idade    int64             43
11                     Educacao    int64              5
12              DistanciaDeCasa    int64             29
13                IDDoEmpregado    int64           4410
14         ContagemDeEmpregados    int64              1
15                 NivelDoCargo    int64              5
16       EquilibrioTrabalhoVida  float64              4
17         SatisfacaoNoTrabalho  float64              4
18        SatisfacaoComAmbiente  float64              4
19             NumeroDeEmpresas  float64             10
20                  RendaMensal  float64           1349
21       TotalDeAnosTrabalhados  float64             40
22              CampoDeEducacao   object              6
23                    MaiorDe18   object              1
24                 Departamento   object              3
25             ViagensDeNegocio   object              3
26                       Genero   object              2
27                  EstadoCivil   object              3
28                 Rotatividade   object              2
29                       Funcao   object              9

In [197]:
# Atribuição do dataframe com exclusão da coluna 'IDDoEmpregado'
X = df.drop(columns='IDDoEmpregado')

# Exibindo a quantidade de linhas e colunas do dataframe
print(f'\nVOLUMETRIA')
print(f'\nQuantidade de linhas  (registros): {X.shape[0]}')
print(f'Quantidade de colunas (variáveis): {X.shape[1]}')

VOLUMETRIA

Quantidade de linhas  (registros): 4410
Quantidade de colunas (variáveis): 29

### 4.2. Segmentação das variáveis categóricas e numéricas

In [198]:
# Separando em dois dataframes por tipo das variáveis
X_cat = X.select_dtypes(include='object')
X_num = X.select_dtypes(exclude='object')

print(f'\nQuantidade de variáveis categóricas: {X_cat.shape[1]}')
print(f'\nQuantidade de variáveis numéricas:  {X_num.shape[1]}')

Quantidade de variáveis categóricas: 8

Quantidade de variáveis numéricas:  21

In [214]:
# Removendo variáveis categóricas da lista
vars1 = list(X_cat.columns)
vars1.remove('MaiorDe18')
vars1.remove('Rotatividade')

# Lista de variáveis numéricas que categorizam os dados
vars2 = ['SatisfacaoComAmbiente', 'SatisfacaoNoTrabalho', 'EquilibrioTrabalhoVida',
         'EnvolvimentoNoTrabalho', 'AvaliacaoDeDesempenho', 'Educacao']

# Junção das listas 
vars_categoricas = vars1 + vars2

# Ordenando a lista de variáveis
vars_categoricas.sort()

# Criando uma tabela
table = PrettyTable()
table.field_names = ['Variáveis Categóricas']
table.align['Variáveis Categóricas'] = 'l'

# Adicionando linhas à tabela
for var in vars_categoricas:
    table.add_row([var])

print(table)

+------------------------+
| Variáveis Categóricas  |
+------------------------+
| AvaliacaoDeDesempenho  |
| CampoDeEducacao        |
| Departamento           |
| Educacao               |
| EnvolvimentoNoTrabalho |
| EquilibrioTrabalhoVida |
| EstadoCivil            |
| Funcao                 |
| Genero                 |
| SatisfacaoComAmbiente  |
| SatisfacaoNoTrabalho   |
| ViagensDeNegocio       |
+------------------------+

In [212]:
# Removendo variáveis numéricas que categorizam os dados
vars_numericas = list(set(X_num.columns).difference(vars_categoricas, set(
    ['ContagemDeEmpregados', 'Rotatividade', 'MaiorDe18', 'TARGET', 'HorasPadrao', 'IDDoEmpregado'])))

# Ordenando a lista de variáveis
vars_numericas.sort()

# Criando uma tabela
table = PrettyTable()
table.field_names = ['Variáveis Numéricas']
table.align['Variáveis Numéricas'] = 'l'

# Adicionando linhas à tabela
for var in vars_numericas:
    table.add_row([var])

print(table)

+-----------------------------+
| Variáveis Numéricas         |
+-----------------------------+
| AnosComAtualGestor          |
| AnosDesdeUltimaPromocao     |
| AnosNaEmpresa               |
| AumentoPercentualSalario    |
| DistanciaDeCasa             |
| Idade                       |
| NivelDeOpcaoDeCompraDeAcoes |
| NivelDoCargo                |
| NumeroDeEmpresas            |
| RendaMensal                 |
| TotalDeAnosTrabalhados      |
| TreinamentosNoUltimoAno     |
+-----------------------------+

## 5. Análise das variáveis

### 5.1. Análise das variáveis categóricas

### 5.2. Análise das variáveis numéricas